
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>Our vision is to create technology that makes life better for everyone, <br>
 everywhere — every person, every organization, and every community around the globe. <br>
 This motivates us — inspires us — to do what we do. To make what we make. <br>
 To invent, and to reinvent. To engineer experiences that amaze. We won’t stop pushing ahead, <br>
 because you won’t stop pushing ahead. You’re reinventing how you work. How you play. How you live.<br> 
 With our technology, you’ll reinvent your world.</p>
