
@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<p>
    At HP we don't just believe in the power of technology.<br>
    We believe in the power of people when technology works for them. To help you create. To make the digital tangible.<br>
    To harness the power of human information. At HP we work to make what you do matter even more.<br>
</p>

<p>
    For home customers:1-(800)-108-4747 <br>
    For business customers:1-(800)-108-4746
</p> 